<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Simple.css-->
        <link rel="stylesheet" href="./static/css/style.css"> 
        <title>Django To-do Lists</title>
    </head>

    <body>
        <div class="frame">
            <div class="form">
                <h1>My To-do List</h1>
                <form method="POST" enctype="multipart/form-data">
            
                    <!-- Security token -->
                    {% csrf_token %}
                
                    <!-- Using the formset -->
                    {{ form.as_p }}
                    
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="list">
                {% for data in dataset %}
                    <div class="list_item">
                        <p><strong>{{ data.title }}</strong></p>
                        <p>{{ data.description }}</p>
                        <form action="/deleteItem/{{data.id}}/" method = "post">{% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>  
                    </div>
                {% endfor %}
            </div>
            <div
        </div>
    </body>
</html>