.frame{
    text-align: center;
}

.form{
    width: 30%;
    text-align: center;
    padding-bottom: 30px;
}

.list{
    width: 30%;
    text-align: center;
}

.list_item{
    border: 3px solid black;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.title{
    font-size: 30px;
}

.description{   
    font-size: 20px;
}